.game-card-topics {
    box-sizing: border-box;
    background-color:  #8c00ff;
    padding: 1.5mm;
    border: 1.5mm solid rgba(0, 0, 0, 0.6);
    width: 45mm;
    height: 65mm;
    border-radius: 3mm;
    position: relative;
    margin: 0.5mm;
    color: hsla(200, 100%, 100%, 100%)
  }
  
  .game-card-topics > div {
    background-color: #0d81ff;
    position: relative;
    height: 7mm;
    box-sizing: border-box;
    border: 0.5mm solid rgba(0, 0, 0, 0.6);
    border-radius: 3mm;
    padding: 1mm;
    line-height: 4mm;
    font-size: 4mm;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0.5mm 0.5mm rgba(0, 0, 0, 0.2);
    text-shadow: 0.3mm 0.3mm rgba(0, 0, 0, 0.6);
    font-weight: bold;
  }
  
  .game-card-topics > div > label {
    flex: 2;
  }
  
  .game-card-topics > div > div {
    flex: 1;
  }
  
  .game-card-topics .name {
    width: calc(100% - 3mm);
    display: block;
    text-align: center;
    border-radius: 2mm;
  }
  .game-card-topics .dificulty{
    position: absolute;
    padding-bottom: 10mm;
    height: 20mm;
    background-color: #8c00ff;
    align-self: flex-end;
    display: grid;
    gap: 1mm;
    grid-template-columns: 1fr 1fr 1fr;
    bottom: 3mm;
  }
  .game-card-topics .greenCard {

    height: 64px;
    width: 42px;
    border-radius: 10%;
    border: 0.5mm solid rgba(0, 0, 0, 0.6);
    background-color: #19FF67
    
  }
  .game-card-topics .yellowCard {
    height: 64px;
    width: 42px;
    border-radius: 10%;
    border: 0.5mm solid rgba(0, 0, 0, 0.6);
    background-color: #FFAC1C
  }
  .game-card-topics .redCard {
    height: 64px;
    width: 42px;
    border-radius: 10%;
    border: 0.5mm solid rgba(0, 0, 0, 0.6);
    background-color: #FC0E08
    
  }

  
  .game-card-topics .discard {
    right: 1.5mm;
    bottom: 1.5mm;
    background-color: blue;
  }
  