@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500;700&display=swap");

.game-board {
  font-family: Rubik, Arial, Helvetica, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialised;
  max-width: calc(1.1 * 7 * 45mm);
  width: 100%;
  margin: 0;
  padding: 3mm;
  border: 3mm solid rgb(45, 0, 51);
  background-color: #a43cff;
  border-radius: 3mm;
  position: relative;
}

.card-offer,
.player-boards {
  padding: 3mm;
  border: 3mm dotted rgba(51, 0, 38, 0.3);
  border-radius: 3mm;
  margin-bottom: 3mm;
}
.card-offer .card-offer-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-offer h1,
.player-boards h1 {
    color: hsla(120, 100%, 10%, 100%);
    margin: 0mm 0mm 3mm 0mm;
    
}
.like-scorer-container{
  display: inline-block;
}

.like-scorer{
  display: flex;
  width: 88mm;
  height: 63.5mm;
  background-color: #19FF67;
  border-radius: 10%;
  border: 0.5mm solid rgba(0, 0, 0, 0.6);
}
.like-scorer .qty{
  font-size: 27px;
  font-weight: bold;
  border: 0.5mm solid black;
  height: 100%;
  width: 6.7mm;
  display: flex;
  align-items: center;
}
.report-scorer-container{
  display: inline-block;
}

.report-scorer{
  display: flex;
  width: 88mm;
  height: 63.5mm;
  background-color: #FC0E08;
  border-radius: 10%;
  border: 0.5mm solid rgba(0, 0, 0, 0.6);
}
.report-scorer .qty{
  font-size: 40px;
  font-weight: bold;
  border: 0.5mm solid black;
  height: 100%;
  width: 12.5mm;
  display: flex;
  align-items: center;
}
@media print{
  .report-scorer{
    
    -webkit-break-inside: avoid;
    break-inside: avoid;
    -webkit-print-color-adjust: exact; 
  }
  .like-scorer{

    -webkit-break-inside: avoid;
    break-inside: avoid;
    -webkit-print-color-adjust: exact; 
  }
}